$bg-primary: #43454d;
$bg-secondary: #464b5e;

$font-primary: #ffffff;
$font-secondary: #111;
// $font-secondary: #c0c0c0;
$font-tertiary: #f46101;

$border-primary: #dcdcdc;

$alert: #dc2807;
$alert-success: #6fab4c;

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 2px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
